/node_modules
/Day3/code_samples
/Day3/code_samples.zip
/Day3/book.pdf
/Day4/code_samples
/Day5/code_samples
/Day5/node_modules
/hw1/code_samples
/homework_6/node_modules
/homework_7/exercise2/node_modules
/homework_7/exercise3/node_modules